@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

@import "./base/variables";
@import "./base/reset";
@import "./base/common";

@import "./layouts/container";
@import "./layouts/board-detail";

@import "./components/form";
@import "./components/text";
@import "./components/header";
@import "./components/boards-page";
@import "../src/components/header/board-header";
@import "./components/add-list";
@import "./components/progress";
@import "./components/list";
@import "../src/components/Card/Card";
@import "./components/menu";
@import "../src/components/Button/Button.style";
@import "../src/components/CardDetailModal/CardDetailModal.style";
@import "../src/components/DropdownMenu/DropdownMenu.style";
@import "../src/components/MemberMenu/MemberMenu.style";
