.card-detail {
  min-width: 800px;
  max-width: 1000px;
  max-height: 600px;
  overflow-y: auto;
  padding: 20px;
  position: relative;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 3px;
  }

  .main-content {
    display: flex;
  }

  .card-info-container {
    flex: 1;
  }

  .card-info {
    display: flex;
    flex-wrap: wrap;
    .section-wrapper {
      border-bottom: 0;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

  .section-wrapper {
    margin-bottom: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  form {
    .button-wrapper {
      text-align: right;
      margin-top: 10px;
      margin-bottom: 15px;
      button {
        display: inline-block;
        margin-right: 15px;
        vertical-align: middle;
      }
    }
  }

  .section-title {
    font-size: 1.2rem;
    color: #5e6c84;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
  }
  .window-header {
    position: relative;
    padding-top: 20px;
    .card-name {
      font-size: 1.42rem;
      display: block;
      font-weight: 600;
      width: 100%;
    }
    .toggle-close {
      position: absolute;
      right: -15px;
      top: -15px;
    }
  }

  .card-desc {
    .desc-content {
      min-height: 100px;
      width: 100%;
      transition: background-color 0.2s ease;
      resize: none;
      border-radius: 3px;
      background-color: #fff;
      border: 1px solid #ddd;
      font-weight: normal;
    }
    .empty-desc {
      background-color: #ebecf0;
      padding: 10px;
      height: 50px;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  .labels-display-box {
    display: flex;
    .label-box {
      margin-right: 5px;
      border-radius: 3px;
      padding: 5px 10px;
      font-weight: 500;
      color: #fff;
    }
  }
}

.desc-display {
  font-size: 1rem;
  cursor: pointer;
  ul,
  ol {
    margin-top: 15px;
    padding-left: 20px;
  }
  ul {
    list-style-type: disc;
  }
  li {
    list-style-type: inherit;
  }
  ol {
    list-style-type: decimal;
  }
  a {
    color: #026aa7;
    display: inline;
    &:hover {
      text-decoration: underline;
    }
  }
}

.card-sidebar {
  width: 200px;
  padding-left: 40px;
  height: 500px;
  .section-title {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .action-list {
    li {
      background-color: #f8f8f8;
      margin-bottom: 15px;
      i {
        margin-right: 5px;
        font-size: 1.1rem;
      }
      &:hover {
        background-color: #ededed;
      }
    }
  }
  .action-item {
    padding: 0;
    cursor: unset;
  }
  .item-content {
    display: block;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .label-item {
    position: relative;
    color: #fff;
    padding-right: 20px;
    i {
      position: absolute;
      right: 4px;
      top: 5px;
    }
  }
  .member-item {
    display: flex;
    vertical-align: center;
    justify-content: space-between;
    i {
      margin-left: 10px;
      vertical-align: middle;
      margin-top: 5px;
    }
  }
}
