.board-panel-content {
  .label-item {
    margin-bottom: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    position: relative;
    padding: 5px 15px;
    .toggle-edit {
      float: right;
      display: block;
      text-align: center;
      cursor: pointer;
      background-color: transparent;
    }
  }
  .board-color-lits {
    li {
      display: block;
      height: 30px;
      width: 100%;
      margin-bottom: 10px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
