#header {
  padding: 13px 0;
  box-shadow: 1px 0 10px 1px rgba(0,0,0,.15);
  position: relative;
  background-color: #026aa7;
  z-index: 100;
  & > .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icon-wrapper {
    font-size: 16px;
    background-color: rgba(255,255,255,.15);
    display: block;
    font-weight: bold;
    border-radius: 3px;
    color: #fff;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
  }
  .avatar-wrapper {
    width: 32px;
    height: 32px;
    .avatar {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      cursor: pointer;
    }
    .dropdown-menu-content {
      position: absolute;
      top: 100%;
      padding: 10px 0;
      background-color: #fff;
      box-shadow: 1px 0 10px 1px rgba(0,0,0,.15);
      transform: translateX(-65%);
      z-index: 100;
      display: none;
      &.open {
        display: block!important;
      }
      &::before {
        content: '';
        position: absolute;
        top: -10px;
        right: 26%;
        border: 5px solid transparent;
        border-bottom: 5px solid #fff;
      }
      li{
        display: block;
        line-height: 2;
        padding: 0 15px;
        max-width: 200px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      a {
        display: block;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}