.list-card{
  display: inline-block;
  background-color: rgba(240,240,240,.6);
  border-radius: 5px;
  margin-right: 15px;
  padding: 10px 15px;
  min-width: 250px;
  .list-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .list-name-wrapper{
      cursor: pointer;
    }
    .list-name {
      font-weight: 600;
      border: 0;
      margin-right: 5px;
      padding: 5px 10px;
      background-color: #fff;
      &:focus{
        outline: #026aa7 solid 2px;
      }
      &:disabled{
        background-color: transparent;
        cursor: pointer;
      }
    }
    .toggle-menu{
      padding: 5px;
      border-radius: 3px;
      cursor: pointer;
      background-color: transparent;
      &:hover {
        background-color: rgba(255,255,255,.3);
      }
    }
    .hidden-menu {
      box-shadow: 0 0 4px 1px rgba(0,0,0,.2);
      position: absolute;
      z-index: 40;
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease;
      background-color: #fff;
      padding: 15px 10px;
      border-radius: 4px;
      width: 280px;
      top: 0;
      right: 0;
      transform: translate(100%,0);
      &.open{
        opacity: 1;
        visibility: visible;
      }
      .menu-header{
        position: relative;
        text-align: center;
        .toggle-close {
          position: absolute;
          cursor: pointer;
          right: 0;
          opacity: .8;
          transition: opacity .2s ease;
          &:hover {
            opacity: 1;
          }
        }
      }
      .menu-body{
        li{
          display: block;
          cursor: pointer;
          background-color: inherit;
          padding: 5px;
          &:hover {
            background-color: rgba(9,30,66,.04);
          }
        }
      }
    }
  }

  .list-footer {
    .toggle-form{
      cursor: pointer;
      padding: 5px 10px;
      background-color: transparent;
      border-radius: 4px;
      &:hover {
        background-color: rgba(255,255,255,.3);
      }
      i{
        display: inline-block;
        margin-right: 5px;
      }
    }
    .add-card-form {
      .button-wrapper{
        margin-top: 15px;
        text-align: right;
      }
    }
  }
}