.hidden-menu {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 40;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 4px;
  width: 280px;
  top: 0;
  right: 0;
  transform: translate(100%, 0);
  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.action-list {
  li {
    display: block;
    cursor: pointer;
    background-color: inherit;
    padding: 5px;
    border-radius: 3px;
    &:hover {
      background-color: rgba(9, 30, 66, 0.04);
    }
    &.disabled {
      cursor: not-allowed;
      opacity: 0.7;
    }
  }
}

.menu-header {
  position: relative;
  text-align: center;
  .title {
    font-size: 1.1rem;
    font-weight: 500;
    color: #172b4d;
  }
  .toggle-close {
    position: absolute;
    cursor: pointer;
    right: 0;
    opacity: 0.8;
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 1;
    }
  }
  .toggle-back {
    position: absolute;
    cursor: pointer;
    left: 0;
    opacity: 0.8;
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 1;
    }
  }
}
