.add-list-wrapper {
  display: inline-block;
  background-color: rgba(240,240,240,.6);
  border-radius: 5px;
  min-width: 200px;
  padding: 10px 15px;
  .add-list-form {
    margin-top: 10px;
    .button-wrapper {
      text-align: right;
      margin-top: 15px;
    }
  }
  .toggle-form{
    display: block;
    cursor: pointer;
    color: #434343;
  }
  i{
    margin-right: 5px;
    vertical-align: middle;
  }
}