#boards-page {
  .board-grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 25px;
  }
}

.board-card {
  max-width: 400px;
  min-width: 250px;
  width: 100%;
  box-sizing: border-box;
  height: 120px;
  border-radius: 10px;
  position: relative;
  &:hover {
    .board-name {
      text-decoration: underline;
    }
  }
  .card-link,.board-name {
    display: block;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    transition: all .4s ease;
  }
  .board-name {
    color: #fff;
    h3 {
      font-size: 18px;
      font-weight: 500;
      max-height: 55px;
      margin: 0;
      line-height: 1.5;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .dropdown-container{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    .ms-Button, .ms-Button--commandBar, .ms-Button--hasMenu, .ms-CommandBar-overflowButton{
      background: transparent;
      padding: 0;
      color: #fff;
    }
    .ms-FocusZone  {
      padding: 0;
      background: transparent;
    }
    .ms-Button-menuIcon{
      color: #fff;
    }
  }
  &.create-card {
    .card-link{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f1f2f6;
      &:hover {
        background-color: #e9eaee;
      }
    }
  }
}