.card-single {
  display: block;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  margin: 10px 0;
  position: relative;
  .card-content {
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 15px;
    &:hover {
      background-color: #efefef;
    }
  }
  .delete-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
  }
  .card-content-icons {
    display: flex;
    margin-top: 10px;
    i {
      font-size: 0.9rem;
      margin-right: 10px;
    }
  }

  .card-labels {
    margin-bottom: 10px;
  }
  .checklist-wrapper{
    margin: 0 5px;
    display: flex;
    align-items: center;
    i{
      margin-right: 4px;
    }
    .count{
      font-size: 11px;
    }
  }
  .label-box {
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    line-height: 1;
    color: #fff;
    font-weight: 400;
    margin-right: 5px;
    font-size: 0.8rem;
  }
  .due-date-wrapper {
    font-size: 0.9rem;
    font-weight: 400;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
  }
}
