.board-header {
  @extend #header;

  padding: 5px 0;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  margin-bottom: 28px;
  z-index: 40;
  & > .container-fluid {
    justify-content: space-between;
  }
  .left-content,
  .right-content {
    display: flex;
  }
  .wrap-box {
    padding: 0 10px;
    &:not(:last-child) {
      border-right: 1px solid #eee;
    }
  }
  .member-wrap {
    display: flex;
    align-items: center;
  }
  .board-name-wrapp {
    display: flex;
    align-items: center;

    .board-name {
      margin: 0 15px 0 0;
      position: relative;
      input[type="text"] {
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        border: 0;
        width: 150px;
        background-color: transparent;
        display: block;
      }
      input[type="text"]:focus ~ .line {
        transform: scaleX(1);
      }
      .line {
        position: absolute;
        background-color: $blue;
        display: block;
        width: 100%;
        height: 1.5px;
        bottom: -1px;
        left: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: all 0.4s ease;
        margin: 0;
      }
    }
  }
  .icon-wrapper {
    background-color: rgba(200, 200, 200, 0.4);
  }
  .member-list {
    display: flex;
    align-items: center;
    margin-right: 15px;
    li {
      display: inline-block;
      margin-right: -2px;
    }
    .member-avatar {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      display: block;
    }
  }
}
