.board-detail-page {
  min-height: 100vh;
  overflow: hidden;
  max-width: 100%;
  .ms-Modal-scrollableContent{
    overflow: hidden!important;
  }
  .board-content {
    padding: 0 20px;
  }
  .lists-wrapper{
    min-height: calc(100vh - 128px);
    min-width: 100vw;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 10px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: rgba(0,0,0,.02);
      border-radius: 10px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(255,255,255,.2);
      border-radius: 10px;
    }
  }
}